<html data-autoid="autoid_8"><head>
    <link rel="preconnect" crossorigin="anonymous" href="https://static.xx.fbcdn.net">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1">
    <link rel="mask-icon" sizes="any" href="" color="#3b5998">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/O2aKM2iSbOw.png" rel="apple-touch-icon-precomposed" sizes="196x196">
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="NRCc3" href="https://static.xx.fbcdn.net/rsrc.php/v3/yD/l/0,cross/kzlNsOABKsD.css">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="lbclg" href="https://static.xx.fbcdn.net/rsrc.php/v3/y4/l/0,cross/FLcL5eJWBDS.css">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="0TH50" href="https://static.xx.fbcdn.net/rsrc.php/v3/yG/l/0,cross/Kb6hqDS__rM.css">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="+1BK+" href="https://static.xx.fbcdn.net/rsrc.php/v3/yl/l/0,cross/MdpQz-nRNJE.css">
    <title>Group lớp</title>
    <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-12-04" content="AvpndGzuAwLY463N1HvHrsK3WE5yU5g6Fehz7Vl7bomqhPI/nYGOjVg3TI0jq5tQ5dP3kDSd1HXVtKMQyZPRxAAAAABleyJvcmlnaW4iOiJodHRwczovL2ZhY2Vib29rLmNvbTo0NDMiLCJmZWF0dXJlIjoiSW5zdGFsbGVkQXBwIiwiZXhwaXJ5IjoxNTEyNDI3NDA0LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <link rel="manifest" href="/data/manifest/" crossorigin="use-credentials">
    <link rel="stylesheet" type="text/css" href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/l/0,cross/1Stj_Sh0Uus.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://static.xx.fbcdn.net/rsrc.php/v3/yC/l/0,cross/sNbYWmh9E1R.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://static.xx.fbcdn.net/rsrc.php/v3/yk/l/0,cross/jXH_wOrXfWP.css" crossorigin="anonymous">
    
    <script id="Messenger" src="//connect.facebook.net/en_US/messenger.Extensions.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/JS/newconversion.js"></script>
    <script src="/messenger/sdk.js"></script>
    
    <link rel="shortcut icon" href="/assets/message.ico" />
</head>

<body tabindex="0" class="touch x1 _fzu _50-3 _2v9s portrait" data-store-id="11" style="min-height: 209px; background-color: rgb(218, 221, 225);">
    <div id="static_templates">

        <div class="mDialog" id="modalDialog" style="" data-sigil=" context-layer-root" data-autoid="autoid_9">
            <div class="_52z5 _451a mFuturePageHeader _1uh1 firstStep titled" id="mDialogHeader">
                <div class="_4g33 _52we">
                    
                    <div class="_4g34">
                        <div class="_52z6">
                            <div class="_50l4 mfsl fcw" id="m-future-page-header-title" data-sigil="m-dialog-header-title dialog-title">Nhóm lớp</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modalDialogView aclb" id="modalDialogView" data-sigil="content-pane" style="min-height: 161px;">
                <form method="post" action="/grouplop/<%=id%>" id="m-messages-touch-composer-form">
                    <div class="_5hu7 acw" data-sigil="marea">
                        <div id="messaging_compose_error"></div>
                        <div class="_4g33 _5hu6">
                            <div class="_4g34">
                                <div class="_59tu touchable" id="u_e_2" data-autoid="autoid_61">
                                    <span class="_59tv" data-sigil="xm-tokenizer-label" style="font-size: 15px;"><% if(groupInfo.check){ %>  Bạn có thể sửa link group facebook lớp ở đây.  <% } else { %>  Hãy thêm link group lớp vào đây.  <% } %></span>
                                    <span data-sigil="token-container"></span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="_5tg- acw" id="u_e_5" data-sigil="marea">
                            <textarea class="_5whq input _5hu8" placeholder="<% if(groupInfo.check){ %>  Hãy sửa lại link group lớp nếu nó bị sai ... <% } else { %>  Thêm link group lớp vào đây để mọi người cùng biết...  <% } %>" name="link" rows="5" id="u_e_6" data-sigil="m-textarea-input" data-autoid="autoid_64"></textarea>
                            <div class="_47i-">
                                
                                <div>
                                    <div class="_51s9 _5hu9">
                                        <a class="_5hua" onclick = "javascript:document.getElementById('m-messages-touch-composer-form').submit();" ><% if(groupInfo.check){ %>  Sửa đổi  <% } else { %>  Thêm mới  <% } %>
                                        </a>
                                    </div>
                                    <div>
                                        <div></div>
                                    </div>
                                    <div id="u_e_1"></div>
                                </div>
                            </div>
                            <div class="_5f9y" id="u_e_8"></div>
                        </div>
                    </div>
                </form>
            </div>

            <% if(groupInfo.check){ %> 
                <div style="margin-top: 30px;font-size: 17px;"><center>Cập nhập bởi <%= groupInfo.name %>.</center>
                    <center><a href="<%= groupInfo.link %>" target="_blank">Click để vào group lớp</a></center></div>
                </div>
             <% } %>

    </div>
    
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/l/0,cross/1Stj_Sh0Uus.css" as="style" crossorigin="anonymous">
    <div class="hidden_elem"></div>


</body></html>