<html data-autoid="autoid_8">

<head>
    <link rel="preconnect" crossorigin="anonymous" href="https://static.xx.fbcdn.net">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1">
    <link rel="mask-icon" sizes="any" href="" color="#3b5998">
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/O2aKM2iSbOw.png" rel="apple-touch-icon-precomposed" sizes="196x196">
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="NRCc3" href="https://static.xx.fbcdn.net/rsrc.php/v3/yD/l/0,cross/kzlNsOABKsD.css">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="lbclg" href="https://static.xx.fbcdn.net/rsrc.php/v3/y4/l/0,cross/FLcL5eJWBDS.css">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="0TH50" href="https://static.xx.fbcdn.net/rsrc.php/v3/yG/l/0,cross/Kb6hqDS__rM.css">
    <link rel="stylesheet" type="text/css" data-bootloader-hash="+1BK+" href="https://static.xx.fbcdn.net/rsrc.php/v3/yl/l/0,cross/MdpQz-nRNJE.css">
    <title>Tạo cuộc trò chuyện</title>
    <meta http-equiv="origin-trial" data-feature="getInstalledRelatedApps" data-expires="2017-12-04" content="AvpndGzuAwLY463N1HvHrsK3WE5yU5g6Fehz7Vl7bomqhPI/nYGOjVg3TI0jq5tQ5dP3kDSd1HXVtKMQyZPRxAAAAABleyJvcmlnaW4iOiJodHRwczovL2ZhY2Vib29rLmNvbTo0NDMiLCJmZWF0dXJlIjoiSW5zdGFsbGVkQXBwIiwiZXhwaXJ5IjoxNTEyNDI3NDA0LCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <link rel="manifest" href="/data/manifest/" crossorigin="use-credentials">
    <link rel="stylesheet" type="text/css" href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/l/0,cross/1Stj_Sh0Uus.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://static.xx.fbcdn.net/rsrc.php/v3/yC/l/0,cross/sNbYWmh9E1R.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://static.xx.fbcdn.net/rsrc.php/v3/yk/l/0,cross/jXH_wOrXfWP.css" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/JS/newconversion.js"></script>
    <script src="/messenger/sdk.js"></script>
    <link rel="shortcut icon" href="/assets/message.ico" />
</head>

<body tabindex="0" class="touch x1 _fzu _50-3 _2v9s portrait" data-store-id="11" style="min-height: 209px; background-color: rgb(218, 221, 225);">
    <div id="static_templates">

        <div class="mDialog" id="modalDialog" style="" data-sigil=" context-layer-root" data-autoid="autoid_9">
            <div class="_52z5 _451a mFuturePageHeader _1uh1 firstStep titled" id="mDialogHeader">
                <div class="_4g33 _52we">
                    <div class="_5s61">
                        <div class="_52z7">
                            <a href="/conversion" type="submit" value="Hủy" class="cancelButton btn btnI bgb mfss touchable" data-sigil="dialog-cancel-button">Hủy</a>
                            <button type="submit" value="Quay lại" class="backButton btn btnI bgb mfss touchable iconOnly"
                                aria-label="Quay lại" id="u_0_n" data-sigil="dialog-back-button" style="display: none;">
                                <i class="img sp_-nJxZUmNmBd sx_35b746" style="margin-top: 2px;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="_4g34">
                        <div class="_52z6">
                            <div class="_50l4 mfsl fcw" id="m-future-page-header-title" data-sigil="m-dialog-header-title dialog-title">Tin nhắn mới</div>
                        </div>
                    </div>
                    <div class="_5s61">
                        <div class="_52z8" id="modalDialogHeaderButtons">
                            <span>
                                <button type="submit" value="Gửi" class="btn btnI bgb mfss touchable" id="m-messages-touch-composer-send-button" data-autoid="autoid_67">Gửi</button>
                                <button type="submit" value="Xong" class="btn btnI bgb mfss touchable" id="m-messages-touch-composer-done-button"
                                    data-autoid="autoid_66" style="display: none;">Xong</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalDialogView aclb" id="modalDialogView" data-sigil="content-pane" style="min-height: 161px;">
                <form method="post" action="/conversion/send/" id="m-messages-touch-composer-form">
                    <div class="_5hu7 acw" data-sigil="marea">
                        <div id="messaging_compose_error"></div>
                        <div class="_4g33 _5hu6">
                            <div class="_4g34">
                                <div class="_59tu touchable" id="u_e_2" data-autoid="autoid_61">
                                    <span class="_59tv" data-sigil="xm-tokenizer-label">Đến:</span>
                                    <span data-sigil="token-container"></span>
                                    <input style="width:70%" class="_5whq input _59tw" type="text" name="mssv" data-sigil="xm-tokenizer-input" data-autoid="autoid_62">
                                </div>
                            </div>
                        </div>
                        <div class="_5tg- acw" id="u_e_5" data-sigil="marea">
                            <textarea class="_5whq input _5hu8" placeholder="Soạn tin nhắn..." name="body" rows="5" id="u_e_6"
                                data-sigil="m-textarea-input" data-autoid="autoid_64"></textarea>
                            <div class="_47i-">
                                <div class="_5eco _t7t" id="u_e_7">
                                    <button aria-label="Thêm nhãn dán" type="button" class="_5ecn _1n29 _2fv6" data-sigil="touchable">
                                        <i class="_2fv7 img sp_E0EUDkN-w-J sx_e2013e" alt=""></i>
                                        <i class="_2fv8 img sp_E0EUDkN-w-J sx_97ad55" alt=""></i>
                                    </button>
                                </div>
                                <div>
                                    <div class="_51s9 _5hu9">
                                        <a class="_5hua" rel="ignore" role="button" aria-label="Thêm ảnh">
                                            <div class="_5aqx _5hub"></div>Thêm ảnh
                                            <div class="_51sa">
                                                <input type="file" class="_51sb" name="photo" id="u_e_0" accept="image/*" data-sigil="m-raw-file-input"
                                                    data-autoid="autoid_68">
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <div></div>
                                    </div>
                                    <div id="u_e_1"></div>
                                </div>
                            </div>
                            <div class="_5f9y" id="u_e_8"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="_5v5d _5v5e fcg" id="dialogSpinner">
                <div class="_2so _2sq _2ss img _50cg" data-animtype="1" id="u_0_l" data-sigil="m-loading-indicator-animate m-loading-indicator-root"></div>Đang tải...</div>
        </div>
    </div>
    
    <link rel="preload" href="https://static.xx.fbcdn.net/rsrc.php/v3/yY/l/0,cross/1Stj_Sh0Uus.css" as="style" crossorigin="anonymous">
    <div class="hidden_elem"></div>
</body>

</html>